<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-email-list</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="master.css">
</head>
<body>
    

    <div id="root">
       <ol v-if="emails.length == 10">
           <li v-if="emails.length == 10" v-for= "mail in emails">{{ mail }}</li>
       </ol>
       <button id="generate" @click="getEmail">Genera email</button>
       <button id="delete" @click=deleteMail>Cancella</button>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <script src='https://cdn.jsdelivr.net/npm/vue'></script>
    <script src="./main.js"></script>
</body>
</html>